html, body
{
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}
.screen
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: green;
    justify-content: center;
    align-items: center;
}
.back
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkgrey;
    border: 2px solid black;

}
.button
{
    display: flex;
    height: 4vw;
    width: 9vw;
    position: relative;
    margin: 5px 2vw;
}
.article
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: dimgrey;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    z-index: 0;
}
.text
{
    display: flex;
    height: 4vw;
    width: 9vw;
    background-color: lightgrey;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.text:hover
{
    height: 50vw;
    width: 50vw;
    opacity: 1;
    overflow: visible;
    left: -20vw;
    z-index: 2;
    font-size: 3em;
}
#text_1:hover
{
    top: -20vw;
}
#text_2:hover
{
    top: -24vw;
}
#text_3:hover
{
    top: -29vw;
}