html, body
{
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}
.screen
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.half_screen
{
    display: flex;
    height: 100vw;
    width: 50vw;
    border: 1px solid black;
    position: relative;
    z-index: auto;
}
.half_screen:nth-of-type(1)
{
    background-color: pink;
    justify-content: center;
    align-items: center;
}
.half_screen:nth-of-type(2)
{
    background-color: cadetblue;
}

.buttons_back
{
    display: flex;
    height: 30vw;
    width: 15vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    position: relative;
}
.button
{
    display: flex;
    height: 7vw;
    width: 12vw;
    border: 1px solid black;
    margin: 1vw 0;
    background-color: aqua;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
.text
{
    display: flex;
    height: 5vw;
    width: 5vw;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}
.text_1, .text_2, .text_3
{
    left: 55vw;
    font-size: 5px;
    visibility: hidden;
}
.text_1
{
    background-color: red;
}
.text_2
{
    background-color: orange;
}
.text_3
{
    background-color: yellow;
}


.button_1:hover ~.text_1
{
    visibility: visible;
    transform: rotate(720deg) scale(8,8);
    transition: 2s;
}
.button_2:hover ~.text_2
{
    visibility: visible;
    transform: rotate(-720deg) scale(8,8);
    transition: 2s;
}
.button_3:hover ~ .text_3
{
    visibility: visible;
    transform: rotate(720deg) scale(8,8);
    transition: 2s;
}